:root {
    --color-green: #a8e5ba;
    --color-blue: #2b44ff;
}

/* my css propriet*/
a {
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--color-blue);
}
a:visited {
    color: var(--color-green);
}

/* body section */

body {
    font-family: 'Charm';
    background: rgb(178,127,203);
    background: radial-gradient(circle, rgba(178,127,203,1) 0%, rgba(120,138,235,1) 100%);
    overflow: hidden;

}

#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.intro {
    width: 75%;
    height: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.intro_avatar {
    object-fit: contain;
}
.intro_text
{
    font-size: 4rem;
    display: flex;
    align-items: center;
    animation: floating 7.5s ease-in-out infinite;
}
@keyframes floating {
    0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-25px);
    }
}

.intro_text:hover {
    animation-play-state: paused;
}

.space {
    width: 100%;
    height: 100%;
    position: absolute;
}
.planet {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.moon {
    animation: spin-around-moon 9s linear infinite -3s;
}
.moon img {
    width: 30%;
    animation: spin-inner 3s linear infinite;
}

.mars {
    animation: spin-around-mars 12s linear infinite -6s;
}
.mars img {
    width: 40%;
    animation: spin-inner 6s linear infinite;
}

.uranus {
    animation: spin-around-uranus 15s linear infinite -12s;
}
.uranus img {
    width: 70%;
    animation: spin-inner 9s linear infinite;
}

.saturn {
    animation: spin-around-saturn 18s linear infinite -3s;
}
.saturn img {
    width: 75%;
    animation: spin-inner 9s linear infinite;
}

.jupiter {
    animation: spin-around-jupiter 21s linear infinite;
}
.jupiter img {
    width: 75%;
    animation: spin-inner 12s linear infinite;
}


@keyframes spin-around-moon {
    from {
        transform: rotate(0deg) translateX(-75%);
    }
    to {
        transform: rotate(360deg) translateX(-75%);
    }
}

@keyframes spin-around-mars {
    from {
        transform: rotate(0deg) translateX(-125%);
    }
    to {
        transform: rotate(360deg) translateX(-125%);
    }
}

@keyframes spin-around-uranus {
    from {
        transform: rotate(0deg) translateX(-150%);
    }
    to {
        transform: rotate(360deg) translateX(-150%);
    }
}

@keyframes spin-around-saturn {
    from {
        transform: rotate(0deg) translateX(-250%);
    }
    to {
        transform: rotate(360deg) translateX(-250%);
    }
}

@keyframes spin-around-jupiter {
    from {
        transform: rotate(0deg) translateX(-350%);
    }
    to {
        transform: rotate(360deg) translateX(-350%);
    }
}


@keyframes spin-inner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}